<div class="dashboard-container">
  <div class="main-content">

    <div class="top-header">
      <button class="back-btn" (click)="goBack()">
        <svg width="26" height="33" viewBox="0 0 26 33" fill="none">
          <path d="M24 2L4 17.3826L24 31" stroke="#5D4F4F" stroke-width="4" stroke-linecap="round"/>
        </svg>
      </button>
    </div>

    <div class="content-sections">
      <div class="left-content">
        <div class="section">
          <h3 class="section-title">Registro de Residente</h3>

          <div class="section-content">
            <form [formGroup]="residentForm" (ngSubmit)="onSubmit()" class="form form--registro">

              <!-- Nombre -->
              <div class="form__row">
                <label class="form__label">Nombres</label>
                <input type="text" formControlName="name" class="form__input" maxlength="30"
                       (input)="stripNonAlpha('name')">
                <small *ngIf="residentForm.get('name')?.touched && residentForm.get('name')?.errors?.['required']" class="text-danger">
                  El nombre es requerido.
                </small>
                <small *ngIf="residentForm.get('name')?.touched && residentForm.get('name')?.errors?.['pattern']" class="text-danger">
                  Solo se permiten letras.
                </small>
              </div>

              <!-- Apellidos -->
              <div class="form__row">
                <label class="form__label">Apellidos</label>
                <input type="text" formControlName="lastName" class="form__input" maxlength="30"
                       (input)="stripNonAlpha('lastName')">
                <small *ngIf="residentForm.get('lastName')?.touched && residentForm.get('lastName')?.errors?.['required']" class="text-danger">
                  El apellido es requerido.
                </small>
                <small *ngIf="residentForm.get('lastName')?.touched && residentForm.get('lastName')?.errors?.['pattern']" class="text-danger">
                  Solo se permiten letras.
                </small>
              </div>

              <!-- Documento -->
              <div class="form__row">
                <label class="form__label">Documento</label>
                <input type="text" formControlName="document" class="form__input" maxlength="11"
                       (input)="stripNonNumeric('document')">
                <small *ngIf="residentForm.get('document')?.dirty
                           && residentForm.get('document')?.invalid
                           && !residentForm.get('document')?.pending"
                       class="text-danger">

                  <span *ngIf="residentForm.get('document')?.errors?.['documentTaken']">
                    Este documento ya está registrado.
                  </span>
                  <span *ngIf="residentForm.get('document')?.errors?.['required']">
                    El documento es requerido.
                  </span>
                  <span *ngIf="residentForm.get('document')?.errors?.['pattern']">
                    Solo se permiten números.
                  </span>

                </small>
              </div>

              <!-- Email -->
              <div class="form__row">
                <label class="form__label">Correo electrónico</label>
                <input type="email" formControlName="email" class="form__input" maxlength="80">
                <small *ngIf="residentForm.get('email')?.dirty
                           && residentForm.get('email')?.invalid
                           && !residentForm.get('email')?.pending"
                       class="text-danger">

                  <span *ngIf="residentForm.get('email')?.errors?.['emailTaken']">
                    Correo ya registrado.
                  </span>
                  <span *ngIf="residentForm.get('email')?.errors?.['required']">
                    El correo es requerido.
                  </span>
                  <span *ngIf="residentForm.get('email')?.errors?.['pattern']">
                    Correo inválido.
                  </span>

                </small>
              </div>

              <!-- Confirmación Email -->
              <div class="form__row">
                <label class="form__label">Confirmar correo</label>
                <input type="email" formControlName="emailConfirm" class="form__input" maxlength="80">
                <small *ngIf="residentForm.get('emailConfirm')?.errors?.['emailMismatch']
                           && residentForm.get('emailConfirm')?.touched"
                       class="text-danger">
                  Los correos no coinciden.
                </small>
              </div>

              <!-- Teléfono -->
              <div class="form__row">
                <label class="form__label">Celular</label>
                <input type="text" formControlName="phoneNumber" class="form__input" maxlength="15"
                       (input)="stripNonNumeric('phoneNumber')">

                <small *ngIf="residentForm.get('phoneNumber')?.touched
                           && residentForm.get('phoneNumber')?.errors?.['required']"
                       class="text-danger">
                  El celular es requerido.
                </small>
                <small *ngIf="residentForm.get('phoneNumber')?.touched
                           && residentForm.get('phoneNumber')?.errors?.['pattern']"
                       class="text-danger">
                  Solo se permiten números.
                </small>
              </div>

              <!-- Apartamento -->
              <div class="form__row">
                <label class="form__label">Apartamento</label>
                <input type="text" formControlName="apartment" class="form__input" maxlength="5"
                       (input)="stripNonNumeric('apartment')">
                <small *ngIf="residentForm.get('apartment')?.touched
                           && residentForm.get('apartment')?.errors?.['required']"
                       class="text-danger">
                  El apartamento es requerido.
                </small>
              </div>

            <!-- Contraseña -->
              <div class="form__row" style="position:relative;">
                <label class="form__label">Contraseña</label>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form__input" maxlength="15">
                <button type="button" (click)="toggleShowPasswordConfirm()"
                        aria-label="Mostrar confirmar contraseña"
                        style="position:absolute; right:10px; top:32px; background:none; border:none; cursor:pointer; color: #666; display: flex; align-items: center;">

                  <svg *ngIf="!showPasswordConfirm" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>

                  <svg *ngIf="showPasswordConfirm" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </button>
                <small *ngIf="residentForm.get('password')?.touched && residentForm.get('password')?.errors?.['required']" class="text-danger">La contraseña es requerida.</small>
                <small *ngIf="residentForm.get('password')?.touched && residentForm.get('password')?.errors?.['minlength']" class="text-danger">Mínimo 6 caracteres.</small>
              </div>

              <!-- Confirmación contraseña -->
              <div class="form__row" style="position:relative;">
                <label class="form__label">Confirmar contraseña</label>
                <input [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="passwordConfirm" class="form__input" maxlength="15">
                <button type="button" (click)="toggleShowPasswordConfirm()"
                        aria-label="Mostrar confirmar contraseña"
                        style="position:absolute; right:10px; top:32px; background:none; border:none; cursor:pointer; color: #666; display: flex; align-items: center;">

                  <svg *ngIf="!showPasswordConfirm" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>

                  <svg *ngIf="showPasswordConfirm" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
                    <line x1="1" y1="1" x2="23" y2="23"></line>
                  </svg>
                </button>
                <small *ngIf="residentForm.get('passwordConfirm')?.errors?.['passwordMismatch'] && residentForm.get('passwordConfirm')?.touched" class="text-danger">Las contraseñas no coinciden.</small>
              </div>

              <!-- Botón -->
              <button type="submit"
                      class="form__submit"
                      [disabled]="residentForm.invalid || isSubmitting">
                {{ isSubmitting ? 'Registrando...' : 'Registrar Residente' }}
              </button>

            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
