<div class="dashboard-container">
  <div class="main-content">

    <div class="top-header">
      <button class="back-btn" (click)="goBack()" style="border: none; background: transparent; cursor: pointer;">
        <svg width="26" height="33" viewBox="0 0 26 33" fill="none">
          <path d="M24 2L4 17.3826L24 31" stroke="#5D4F4F" stroke-width="4" stroke-linecap="round"/>
        </svg>
      </button>
    </div>

    <!-- LOADING -->
    <div *ngIf="isLoadingData" class="loading-container">
      <p class="loading-text">Cargando datos...</p>
    </div>

    <!-- FORM -->
    <div *ngIf="!isLoadingData" class="content-sections">

      <div class="left-content">
        <div class="section">
          <h3 class="section-title">Editar Celador</h3>

          <form [formGroup]="residentForm" (ngSubmit)="onSubmit()" class="form form--registro">

            <div class="form__row">
              <label class="form__label">Nombres</label>
              <input type="text" formControlName="name" class="form__input" />
            </div>

            <div class="form__row">
              <label class="form__label">Apellidos</label>
              <input type="text" formControlName="lastName" class="form__input" />
            </div>

            <div class="form__row">
              <label class="form__label">Documento</label>
              <input type="number" formControlName="document" class="form__input" />
            </div>

            <div class="form__row form__row--grid">
              <div class="form__row">
                <label class="form__label">Correo</label>
                <input type="email" formControlName="email" class="form__input" />
              </div>

              <div class="form__row">
                <label class="form__label">Celular</label>
                <input type="number" formControlName="phoneNumber" class="form__input" />
              </div>
            </div>

            <div class="form__row">
              <label class="form__label">Apartamento</label>
              <input type="text" formControlName="apartment" class="form__input" />
            </div>

            <div class="form__row">
              <label class="form__label">Nueva contraseña (opcional)</label>
              <input type="password" formControlName="password" class="form__input" />
            </div>

            <button type="submit"
                    class="form__submit"
                    [disabled]="residentForm.invalid || isSubmitting"
                    [style.opacity]="residentForm.invalid ? '0.6' : '1'">
              {{ isSubmitting ? 'Actualizando...' : 'Actualizar Datos' }}
            </button>

          </form>
        </div>
      </div>

      <div class="right-sidebar" style="background: transparent"></div>
    </div>

  </div>
</div>
